- title 'My current order', false

- content_for :sidebar do
  = render 'edit_sidebar'

.page-header#page_header
  = render 'page_header'

#articles_table
  - if @order_articles && !@order_articles.empty?
    = render 'order_articles'
  - else
    = t '.no_articles'

= render 'edit_javascript'
