- title t('group_orders.my_previous_order'), false

- content_for :sidebar do
  = link_to my_ordergroup_path do
    .well.well-link
      = glyph 'chevron-right'
      = t('home.ordergroup.account_summary')
  .well
    %ul.nav.nav-list
      %li.nav-header= t 'group_orders.my_previous_orders'
      - @group_order_details.each do |(ends, price)|
        %li{class: ('active' if ends==@order_date)}
          = link_to group_order_path(ends) do
            = format_date ends
            .pull-right
              = number_to_currency price

.page-header#page_header
  = render 'page_header', kind: 'show'

#articles_table
  - if @orders.nil? or @orders.empty?
    = t '.no_orders'
  - elsif @order_articles.nil? or @order_articles.empty?
    = t '.no_articles'
  - else
    = render 'order_articles'

= render 'edit_javascript'
