= form.simple_fields_for :order_schedule do |fields|
  = config_input fields, 'initial', input_html: {class: 'datepicker'}
  = fields.simple_fields_for 'pickup' do |fields|
    .fold-line
      = config_input fields, 'recurr', as: :select_recurring, input_html: {class: 'input-xlarge'}
      = config_input fields, 'time', input_html: {class: 'input-mini'}
  = fields.simple_fields_for 'ends' do |fields|
    .fold-line
      = config_input fields, 'recurr', as: :select_recurring, input_html: {class: 'input-xlarge'}
      = config_input fields, 'time', input_html: {class: 'input-mini'}
