= config_input form, :use_wiki, as: :boolean if defined? FoodsoftWiki
= config_input form, :use_nick, as: :boolean
= config_input form, :skip_order_finished_mails, as: :boolean
= config_input form, :use_tolerance, collection: [[t('.tolerance_opts.yes'), true], [t('.tolerance_opts.nope'), false], [t('.tolerance_opts.supplier'), 'supplier']]
-# tolerance_is_costly is not tested in foodcoop-adam, be safe here
  = config_input form, :tolerance_is_costly, as: :boolean
-# this fork doesn't use the help url
  = config_input form, :help_url, as: :url, input_html: {class: 'input-xlarge'}
= config_input form, :webstats_tracking_code, as: :text, input_html: {class: 'input-xxlarge', rows: 3}
